.menuContainer {
    border: 1px solid #cdcdcd;
    margin: 10px 0px;
}

.menuItem {
    display: inline-block;
    margin-right: 15px;
    font-size: 1.5rem;
}

.menuItem a {
    color: #206199;
    text-decoration: underline;
}

.menuItemActive {
    text-decoration: underline;
}

.onHover {
    filter: brightness(150%);
}

.linkButton {
    color: #206199;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
}