.item {
    margin-bottom: 20px;
    background-color: rgb(236 236 236);
}

.title {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 0;
}

.type {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.typeDesc {
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-top: 10px;
}

.brand {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.brandDesc {
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-top: 10px;
}

.description {
    color: grey;
    margin-top: 10px;
    font-size: 0.88rem;
    margin-bottom: 0;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.cost {
    font-weight: bold;
    font-size: 1.5rem;
}

.galery {
    margin-top: 20px;
}