.divImage {
    width: 155px;
}

.imageSmall {
    max-width: 200px;
    max-height: 150px;
}

.xButton {
    vertical-align: top;
    background-color: rgb(220, 53, 69);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    border: 1px solid rgb(220, 53, 69);
    color: white;
    font-size: 10px;
}