.container {
    margin: 30px auto;
}

.tagContainer {
    overflow: hidden;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    background: #fff;
    flex-wrap: wrap;
    align-content: flex-start;
}

.tagContainer .tag {
    height: 30px;
    margin: 5px;
    padding: 5px 6px;
    border: 1px solid #ccc;
    background: #eee;
    display: flex;
    align-items: center;
    color: #321;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff;
    cursor: default;
}

.tag .xButton {
    font-size: 14px;
    color: #777;
    margin-left: 5px;
}

.tagContainer input {
    flex: 1;
    font-size: 16px;
    padding: 5px;
    outline: none;
    font-family: 'Rubik';
    border: 0;
}